.action-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    background-color: black;
    opacity: .8;

    &--marked {
        background-color: red;
    }

    img {
        width: 50px;
    }
}
